/*Google Poppins Font CDN Link*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}


ul,
ol {
    margin: 0;
    padding: 0;
}

/*=== Variable Define===*/
:root {
    --primary-color: #A82C48;
    --secondary-color: #43121d;
    --third-color: #f98169;
    --forth-color: #0828c7;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;

}

/*=========================================
Custom Scrollbar
==========================================*/
::-webkit-scrollbar {
    width: 0.825rem;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: #555;
}

/*=========================================
Custom CSS Design
==========================================*/
h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--secondary-color);
    line-height: 3rem;
}

h4 {
    color: var(--secondary-color);
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 0.5rem;
    font-weight: 800;
}

h5 {
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}

.main-btn {
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border: 0.125rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 /19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    border-radius: 5px;
}


.white-btn {
    display: inline-block;
    border-radius: 5px;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--white-color);
    border: 0.125rem solid var(--white-color);
    color: var(--text-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 /19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;

}

.main-btn:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.white-btn:hover {
    background-color: var(--forth-color);
    color: var(--black-color);
    border-color: var(--forth-color);

}

.text-content {
    width: 70%;
    margin: auto;
}

.counter-section h2,
.testimonial-section h2,
.book-food-text h2 {
    color: var(--white-color);
}


/*=================================
    Header Desing
==================================*/

.navigation-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 22ms ease-out;
}

.navigation-wrap .nav-item {
    padding: 0 0.625rem;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s linear;
}
.navbar {
    background: var(--white-color);
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    
}


.navbar-brand {
    
    position: relative;
    background: url(../images/TX-SERVICE-HAND-LOGO1.png);
    width: 250px;
    height: 40px;
    left: 15px;
    background-size: contain;
    background-repeat: no-repeat;

}


.nav-link {
    font-size: 00.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
    letter-spacing: 1px;
    color: rgb(0, 0, 0);

}
.nav-link.active{
    color: var(--primary-color) !important;
    font-weight: 900;
}
.navbar .navbar-nav .nav-link:hover {
    color: var(--primary-color);
    font-weight: 900;
}

.navbar-toggler:focus {
    outline: unset;
    border: unset;
    box-shadow: none;
}

.navigation-wrap .main-btn {
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}
.navbar .navbar-nav .dropdown-mega .dropdown-menu{
    width: 100%;
    
}
.navbar .navbar-nav .dropdown-mega h5{
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0,.125 );
    margin: 0;
}
.navbar .navbar-nav .list-group-item{
    font-size: 16px;
    color: black;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.125 );
    padding:  12px 0;
    padding-left: 10px;
}
.navbar .navbar-nav .list-group-item:hover{
    background-color: var(--primary-color);
    color: var(--white-color);

}
@media (max-width: 991px){
    .navbar .navbar-nav .nav-item{
        margin: 5px 10px;
    }
}

/*change navbar scroll*/
.navigation-wrap .scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 0 0.125rem 1.75rem 0 rgb(0, 0, 0.9);
    transition: all .15s ease-in-out 0s;
}


/*===============================
    Top Banner Design
================================*/
.top-banner {
    width: 100%;
    height: 150px;
    background: url("../images/blue-background.jpg") no-repeat center;
    background-size: cover;;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.top-banner .section-intro {
    padding: 0;
    text-align: center;
}

@media (max-width: 991px){
    .top-banner{
        height: 150px;
        padding-bottom: 1rem;
    }
    .top-banner .section-intro h1{
        font-size: 30px;
    }
}

/*===============================
    Top Card Section Design
================================*/
.top_Card_features .container1 {
    background: transparent;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.top_Card_features .features-box {
    background-color: transparent;
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    transition: all 0.3s;
    border: none;
    border-radius: 10%;
}

.top_Card_features .features-box .features-icon {
    width: 3.7rem;
    height: 3.7rem;
    background-color: rgb(207, 244, 238);
    margin: auto;
    border-radius: 30%;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
}

.top_Card_features .features-box h4 {
    margin-top: 0.5rem;
    font-weight: 900;
    font-size: 15px;
    color: black;
}

.top_Card_features .features-box:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);

}

.top_Card_features .features-box:hover h4 {
    color: var(--white-color);

}

/*===============================
    Our Service Section Design
================================*/

.our_services .container .service-list {
    margin: 0;
    border-right: 2px solid var(--primary-color);
}
  
.our_services .service-list h3{
    padding-top: 30px;
    font-weight: 900;
}
.nav-link1.active{
    color: var(--primary-color) !important;
}

/* The sidebar menu */
.our_services .container .service-list .sidenav {
    height: auto; 
    width: 100%; 
    z-index: 1; 
    top: 0;
    left: 0;
   position: relative;
   display: block;
    overflow-x: hidden; 
    padding-top: 5px;
    
    
  }
    
  .our_services .container .service-list .sidenav .active{
    border-right: 4px solid var(--primary-color);
    background: rgb(245, 245, 245);
    color: var(--primary-color);
    font-weight: 700;
  }
  .our_services .container .service-list .sidenav a {
    padding: 12px 8px 12px 16px;
    font-size: 18px;
    margin-top: 10px;
    color: #000000;
    display: block;
  }
  
 
  .our_services .container .service-list .sidenav a:hover {
    color: #000000;
    font-weight: 700;
    background: rgb(245, 245, 245);
    border-right: 4px solid var(--primary-color);
  }
  
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
  }

.our_services .container .service-details{
    background-color: var(--white-color);
    padding-top: 20px;
}

.our_services .container .service-details .section-intro h2{
    margin-bottom: 5px;
    margin-top: 5px;
}
.our_services .container .service-details .section-header {
    text-align: Left;
    padding-bottom: 20px;
    padding-top: 5px;
}

.our_services .container .service-details .section-header p {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: var(--primary-color);
}

.our_services .container .service-details .section-header .d-flex .view-all{
    font-size: medium;
    color: var(--primary-color);
    margin-right: 10px;
}

@media (max-width: 768px) {
    .our_services .container .service-details .section-header p {
        font-size: 25px;
        line-height: 32px;
    }
    .our_services .container .service-list,.our_services .container .service-details{
       width: 100%;
    }
   
    .our_services .container .service-details .service-card{
        width: 100%;
    }
    .our_services .container .service-details .section-header .d-flex .title p{
        font-size: 18px;
    }
}
.our_services .container .service-details .service-card{
    position: relative;
    overflow: hidden;
    width: fit-content;
    border: none;
    transition: all 0.3s;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.095);
    border-radius: 10px;
}
.our_services .container .service-details .service-card:hover{
    transform: scale(1.1);
}
.our_services .container .service-details .row {
    text-align: left;
   
}

.our_services .container .service-details .row  .card-footer{
    background-color: rgb(255, 255, 255);
    color: var(--primary-color);
}
.our_services .service-details .row  .card-footer:hover{
    background-color: var(--primary-color);
    
}

.our_services .container .service-details .service-card h3{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 2px;
    color: var(--primary-color);
}
.our_services .container .service-details .service-card span{
    color: black;
    font-size: 12px;
}
.our_services .container .service-details .row  .card-footer:hover h3 {
    color: var(--white-color);
    font-weight: 900;
}
.our_services .container .service-details .row  .card-footer:hover span{
    color: var(--white-color);
}


/*----------------------------------
Footer Section
-----------------------------------*/
.footer_wrapper {
    background: url(../images/servicepic/graphic-bg2.jpg);
    background-repeat: no-repeat;
    background-position: top-center;
    background-size: cover;
    padding-top: 5rem;
}

.footer_wrapper h5 {
    color: var(--white-color);
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.footer_wrapper ul li {
    margin-bottom: 0.5rem;
    list-style: none;
}

.footer_wrapper .company_details {
    font-size: 1rem;
}

.footer_wrapper a {
    color: rgb(174, 174, 174);
}

.footer_wrapper p,
.footer_wrapper .link-widget li a {
    color: rgb(174, 174, 174);
    font-size: 1rem;
    padding-left: 1.5rem;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer_wrapper .link-widget li a:before {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    -webkit-transform: translate(-50%);
    transform: translateY(-50%);

}

.footer_wrapper .link-widget li a:hover {
    margin-left: .625rem;
    color: #00eaff;
    font-weight: 600;
}

.footer_wrapper .social-network a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(255, 255, 255);
    line-height: 3.2rem;
    margin: 5px;
    display: inline-block;
    border: 0.124rem solid gray;
    color: gray;
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.335, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.335, 1);
}

.footer_wrapper .social-network a:hover {
    background-color: var(--primary-color);
    border-color: #00eaff;
    color: var(--white-color);
    box-shadow: 0 0.625rem 0 rgb(0 0 0 /10%);
    transform: translate(-0.1875rem);
}

.footer_wrapper .form-group .btn {
    margin-top: 10px;
}

.footer_wrapper .form-control {
    color: var(--white-color);
}

.footer_wrapper .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--primary-color);
}

.footer_wrapper .copyright-section {
    background-color: rgb(6, 2, 53);
    text-align: center;
    margin-top: 0.5rem;

}

.footer_wrapper .copyright-section p {
    margin-top: 0;
    padding: 1.5rem 0;
    line-height: 0;
    margin-bottom: 0;
    color: var(--white-color);
}

.footer_wrapper .copyright-section a {
    color: greenyellow;
    font-weight: 600;

}

/*Main CSS*/
.wrapper {
    padding: 8.25rem;
    padding-bottom: 8.25rem;
    background-image: url("../static/assets/images/login_background2.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;

    /*height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;*/
}

.wrapper .logo img {
    max-width: 30%;
    padding-bottom: 5%;
}

.wrapper input {
    background-color: var(--ligt-white);
    border-color: var(--ligt-white);
    color: var(--gray);
}

.wrapper input:focus {

    box-shadow: none;
}

.wrapper .password-info {
    font-size: 11px;
}

.wrapper .submit_btn {
    padding: 10px 15px;
    font-weight: 500;
}

.wrapper .login_with {
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.wrapper .submit_btn:focus,
.wrapper .login_with:focus {
    box-shadow: none;

}

.wrapper .login_with:hover {
    background-color: var(--gray-1);
    border-color: var(--gray-1);
}

.wrapper .login_with img {
    max-width: 7%;
}

@-ms-viewport {
    width: device-width;
}

/*OTP verification CSS*/
.wrapper .otp_input input {
    width: 14%;
    height: 70px;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .wrapper .otp_input input {
        height: 50px;

    }
}

@media (max-width: 767px) {
    .wrapper .otp_input input {
        height: 40px;

    }
}